<div class="container mt-4">
  <div class="row pt-3 pb-3">
    <div class="col-md-12 pt-1" style="background-color: #fff; border-top-left-radius: 8px; border-top-right-radius: 8px;">

    	<h1>Investimentos Seguros</h1><hr>
		  <p>Você quer investir o seu dinheiro, mas tem medo de tomar um prejuizo com a variação dos preços em outros modelos de investimento?
      <br/>Então você está no lugar certo!</p>
      <p>Com os Investimentos Seguros você garante a sua margem de lucro com total tranquilidade, porém, em um tempo maior de investimento.</p>

      <p>Neste serviço você deverá manter o seu dinheiro no investimento pelo prazo estimado, caso queira sacar antes, você pode, porém não haverá ganho algum e sofrerá uma taxa de 10%, então só invista neste tipo de negócio se você realmente for deixar o dinheiro no tempo estimado!</p>
	 </div>
  </div>

  <div class="row pt-3 text-center">
    
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://assets.entrepreneur.com/content/3x2/2000/20160602195129-businessman-writing-planning-working-strategy-office-focus-formal-workplace-message.jpeg?width=700&crop=2:1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pequeno investidor</h5>
          <p class="card-text">
            Destinado aos investidores que não tem um grande valor a investir.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Valor minimo: <b>$100.000</b></li>
            <li class="list-group-item">Tempo minimo: <b>90 dias</b></li>
            <li class="list-group-item">Rendimento diário: <b>De $100 à $300</b> </li>
            <li class="list-group-item">Chance de prejuizo diário: <b>18%</b> </li>
          </ul>
          <div class="text-center pt-3">
            <a href="#" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://smallbiztrends.com/wp-content/uploads/2018/03/shutterstock_705804559.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Médio investidor</h5>
          <p class="card-text">
            Destinado aos investidores que tem um bom fluxo de caixa.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Valor minimo: <b>$250.000</b></li>
            <li class="list-group-item">Tempo minimo: <b>90 dias</b></li>
            <li class="list-group-item">Rendimento diário: <b>De $300 à $500</b> </li>
            <li class="list-group-item">Chance de prejuizo diário: <b>12%</b> </li>
          </ul>
          <div class="text-center pt-3">
            <a href="#" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img-aws.ehowcdn.com/340x221p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/d95cc36b475743a68d03b24768def260.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Grande investidor</h5>
          <p class="card-text">
            Destinado aos investidores que já conhecem o negócio e estão em busca de boas margens de lucro.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Valor minimo: <b>$500.000</b></li>
            <li class="list-group-item">Tempo minimo: <b>90 dias</b></li>
            <li class="list-group-item">Rendimento diário: <b>De $500 à $1200</b> </li>
            <li class="list-group-item">Chance de prejuizo diário: <b>8%</b> </li>
          </ul>
          <div class="text-center pt-3">
            <a href="#" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>
</div>