<body style="background-color: #EFEFEF;">
  <div class='container' style="background-color: #FFFFFF;">

    <br/>
  	<div class="alert alert-success text-center" role="alert">
  		Usuário atualizado.
  	</div>
  </div>
</body>