<div style="margin-left: 0px; margin-right: 0px;">

    <div style="width: 40%">
		<%
		graph_data = []

		@history.each do |business|

		  date = business.created_at.strftime("%H:%M")

		  data = []
		  data.push(date)
		  data.push(business.value)

		  graph_data.push(data)

		end %>

		<%= line_chart graph_data, legend: false, name: @business.name, data: graph_data, refresh: 10, curve: false, label: "Valor" 
		%>
	</div>
</div>
