
  
  <div class='col-md-12 top-logo position-absolute'></div>

  <div class='container position-relative'>
    <div class='row' style="margin-top: 10%;">
      <div class='col-md-12'>
        <div class='carousel-caption'>
          <h1 class="display-4" style="color:   #4682B4"></h1>
        </div>
      </div>
    </div>

    <div class='row custom-border-top mt-5' style='background-color: #0489B1; color: #FFF'>
      <div class='col-md-12 text-center' style="padding-top: 5px;">
        <h2>100% DIGITAL, FÁCIL E PRÁTICO!</h2>
      </div>
    </div>
    <div class='row' style='background-color: #FFF;'>
      <div class='col-md-12 text-center lead'>
        <br/>
        <% if !user_signed_in? %> 
          Cadastre-se já e começe a investir o seu dinheiro, torne seus sonhos uma realidade!
        <br/>
        <br/>
        <%= link_to "Criar conta", new_user_registration_path, :class => 'btn btn-warning' %>
        <% else %>
          Olá <%= current_user.name %>, é um prazer tê-lo como nosso cliente!
        <% end %>
        <br/>
        <hr>

        <%= line_chart [{
            name: 'Valor comercial', 
            data: [[2016, 1000000], [2017, 1890000], [2018, 2630000], [2019, 4760000]], 
            curve: false, 
            label: 'Valor Comercial',
            color: '#0489B1'
          }]
        %>
        <br/>
        <hr>
        <h2>Uma empresa com o valor de mais de 4 Bilhões de dólares</h2>
        <h4>Mais de 2.000 clientes e milhares de dólares investidos mundo a fora!</h4>
        <br/>
        Faça você também parte desta história e mude completamente a sua vida!
        <br/>
        <br/>

        <iframe src="https://financenews.com.br/"></iframe>
      </div>
    </div>
  </div>
