// body {
//   margin-left: 0px;
//   margin-right: 0px;
// }

// .sticky-footer {
//   flex-shrink: none;
// }

$body-bg: #EFEFEF;
$font-size-base:              0.9rem !default;

body, html, .container-fluid {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    max-height: 100%;
}

main {
    max-height: 100%;
    overflow-y: auto;
}
