// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-logo {
  height: 100%; 
  background-image: url('https://www.thebalance.com/thmb/oJZvcgJQWUjQweoPh0SWna_ESmE=/2121x1414/filters:fill(auto,1)/man-investing-books-6b5ed3383d544ef4a9bb356bbd933beb.jpg');
  background-size: 100% 100%;
  margin-top: 0px;
  z-index: 0;
  position: relative;
  opacity: 0.5;
}

.custom-border-top {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}