<h1>LS Exchange</h1>
<p>Olá <%= @resource.name %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token), :class => 'btn btn-dark' %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não mudará até que você acesse o link acima e crie um novo.</p>

<p><%= link_to 'Ira para o site', 'www.ls-exchange.herokuapp.com' %></p>
<p><%= link_to 'Ira para o Advanced Roleplay', 'www.advanced-roleplay.com.br' %></p>