<div style="margin-top: 20px;"></div>

<footer class="sticky-footer py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright 2019 &copy; LS Exchange</small>
    </div>
  </footer>

  <br/>